/* Rectangle Copy 3: */
background: #6DCFFC;
/* Status Bar/White/100% Copy 2: */
/* Location Copy 2: */
background: #FFFFFF;
/* TIMELESS: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;
/* Wed, April 12: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Welcome Simran. Copy 3: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Last Refilled March: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* 27 Single Rides Rema Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Rectangle 1 Copy 6: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* REFILL BALANCE Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* < BACK: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* LOG OUT: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* $68.00 copy: */
font-family: SFUIText-Light;
font-size: 36px;
color: #FFFFFF;