/* da4ebd55a4fc74c71bdff278f762fe19: */
/* Rectangle 125 Copy 4: */
background: #FFFFFF;
border: 1px solid #B7BCC0;
border-radius: 3px;
/* Rectangle 125 Copy 5: */
background: #FFFFFF;
border: 1px solid #B7BCC0;
border-radius: 3px;
/* Status Bar/White/100% Copy: */
/* Location Copy: */
background: #FFFFFF;
/* USERNAME: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* PASSWORD: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy: */
opacity: 0.8;
background: #FFFFFF;
border: 1px solid #F7F9FB;
border-radius: 3px;
/* LOG IN: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* FORGOT PASSWORD: */
font-family: Helvetica-Bold;
font-size: 9px;
color: #FFFFFF;
/* login with facebook copy: */
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
/* Rectangle 2: */
background: #F9F3F3;
border-radius: 8px;
/* facebook icon: */
background: #3579E6;
/* TIMELESS Copy: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;