/* da4ebd55a4fc74c71bdff278f762fe19 copy: */
/* Rectangle 125 Copy 2: */
background: #FFFFFF;
border: 1px solid #B7BCC0;
border-radius: 3px;
/* Rectangle 125 Copy 3: */
background: #FFFFFF;
border: 1px solid #B7BCC0;
border-radius: 3px;
/* Status Bar/White/100% Copy: */
/* Location Copy: */
background: #FFFFFF;
/* Rectangle 1 Copy: */
opacity: 0.8;
background: #FFFFFF;
border: 1px solid #F7F9FB;
border-radius: 3px;
/* FORGOT PASSWORD Copy: */
font-family: Helvetica-Bold;
font-size: 9px;
color: #9B9B9B;
/* TIMELESS Copy: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;
/* LOG IN Copy: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* Base Copy: */
background: rgba(171,179,189,0.60);
background: rgba(171,179,189,0.30);
/* Key: */
background: rgba(171,179,189,0.50);
background: rgba(0,0,0,0.50);
background: rgba(255,255,255,0.10);
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* return: */
font-family: SFUIText-Regular;
font-size: 16px;
color: #030303;
letter-spacing: -0.32px;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* space: */
font-family: SFUIText-Regular;
font-size: 16px;
color: #030303;
letter-spacing: -0.32px;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Speech: */
background: #030303;
/* Key: */
background: rgba(171,179,189,0.50);
background: rgba(0,0,0,0.50);
background: rgba(255,255,255,0.10);
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Emoji: */
background: #030303;
/* Key: */
background: rgba(171,179,189,0.50);
background: rgba(0,0,0,0.50);
background: rgba(255,255,255,0.10);
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* 123: */
font-family: SFUIText-Regular;
font-size: 16px;
color: #030303;
letter-spacing: -0.32px;
/* Key: */
background: rgba(171,179,189,0.50);
background: rgba(0,0,0,0.50);
background: rgba(255,255,255,0.10);
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Back: */
background: #030303;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* M: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* N: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* B: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* V: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* C: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* X: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Z: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Shift: */
background: #030303;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* L: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* K: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* J: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* H: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* G: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* F: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* D: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* S: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* A: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* P: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* O: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* I: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* U: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Y: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* T: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* R: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* E: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* W: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* Key: */
background: #FFFFFF;
box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
/* Q: */
font-family: SFUIDisplay-Regular;
font-size: 23px;
color: #030303;
letter-spacing: 0;
/* …………………: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* simran_pabla: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;