/* Rectangle Copy 2: */
background: #6DCFFC;
/* Rectangle 1 Copy 5: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* SINGLE RIDE Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 6: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* Rectangle 1 Copy 7: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* Rectangle 1 Copy 8: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* Rectangle 1 Copy 9: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* CHOOSE BALANCE Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* 7 DAY UNLIMITED Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* 30 DAY UNLIMITED Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* EXPRESS BUS Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Status Bar/White/100% Copy 2: */
/* Location Copy 2: */
background: #FFFFFF;
/* TIMELESS: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;
/* Welcome Simran. Copy 3: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Wed, April 12: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* < BACK: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* LOG OUT: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;