/* Rectangle Copy 3: */
background: rgba(84,199,252,0.85);
/* Status Bar/White/100% Copy 3: */
/* Location Copy 3: */
background: #FFFFFF;
/* Wi-Fi Copy 3: */
background: #FFFFFF;
/* TIMELESS Copy 3: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;
/* Wed, April 12: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Welcome Simran. Copy 4: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Dropdown long Copy: */
/* Today, April 12 Copy: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 3: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px 0 3px 3px 3px;
/* Rectangle 1 Copy 4: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px 0 3px 3px 3px;
/* Rectangle 1 Copy 5: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px 0 3px 3px 3px;
/* Q10 | Limited / Kew Copy: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* F | Express / Manhat Copy: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* 4 | Express / Bronx: */
font-family: SFUIDisplay-Regular;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* < BACK: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* LOG OUT: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;