/* Rectangle Copy 4: */
background: #6DCFFC;
/* Status Bar/White/100% Copy 3: */
/* Location Copy 3: */
background: #FFFFFF;
/* TIMELESS Copy 3: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;
/* Welcome Simran. Copy 4: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* nyc-subway-map-hi-res-top-left: */
/* Oval Copy: */
background: #54C7FC;
/* Wed, April 12: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Rectangle Copy 5: */
background: #FFFFFF;
/* 2 mins: */
font-family: SFUIDisplay-Regular;
font-size: 18px;
color: #9B9B9B;
/* Oval 3: */
background: #224DC1;
/* A: */
font-family: SFUIText-Medium;
font-size: 18px;
color: #FFFFFF;
/* Rectangle Copy 6: */
background: #FFFFFF;
border: 1px solid #FFFFFF;
/* 5 mins: */
font-family: SFUIDisplay-Regular;
font-size: 18px;
color: #9B9B9B;
/* Oval 3: */
background: #FFCB00;
/* R: */
font-family: SFUIText-Medium;
font-size: 18px;
color: #FFFFFF;
/* Rectangle Copy 7: */
background: #FFFFFF;
border: 1px solid #FFFFFF;
/* 11 mins: */
font-family: SFUIDisplay-Regular;
font-size: 18px;
color: #9B9B9B;
/* Oval 3: */
background: #FF5900;
/* F: */
font-family: SFUIText-Medium;
font-size: 18px;
color: #FFFFFF;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* < BACK: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* LOG OUT: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Map Copy: */