/* Rectangle Copy: */
background: #6DCFFC;
/* Status Bar/White/100% Copy: */
/* Location Copy: */
background: #FFFFFF;
/* TIMELESS Copy: */
font-family: SFUIText-Bold;
font-size: 36px;
color: #FFFFFF;
/* Wed, April 12: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Welcome Simran. Copy 2: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #FFFFFF;
/* Rectangle 1 Copy 5: */
background: #F1F1F2;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* FARE BALANCE Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 6: */
background: #F1F1F2;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* Rectangle 1 Copy 7: */
background: #F1F1F2;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* Rectangle 1 Copy 8: */
background: #F1F1F2;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* REFILL BALANCE Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* CHECK TRANSIT Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* RIDE HISTORY Copy: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 10: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* FARE BALANCE Copy 2: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 11: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* REFILL BALANCE Copy 2: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 12: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* CHECK TRANSIT Copy 2: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 13: */
background: #FFFFFF;
border: 1px solid #BBBDBF;
border-radius: 3px;
/* RIDE HISTORY Copy 2: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;
/* Rectangle 1 Copy 15: */
background: #FFFFFF;
border-radius: 3px;
/* LOG OUT: */
font-family: SFUIText-Medium;
font-size: 14px;
color: #9B9B9B;